* {
	margin  : 0;
	padding : 0;
}

body {
	display     : block;
	margin      : 8px;
	font-family : sans-serif;
}

.container {
	margin     : auto;
	width      : 380px;
	background : #FFFFFF;
	height     : 515px;
	box-shadow : 1px 1px 5px #999999;
}

.header {
	background : #60A3D8 linear-gradient(#89BBE2, #60A3D8 50%, #378BCE);
	height     : 30px;
	padding    : 8px 5px 8px 20px;
}

.header h3 {
	margin         : 0;
	padding        : 0;
	color          : #FFFFFF;
	text-transform : uppercase;
	text-shadow    : #2E7EBD 0 1px 2px;
}

#p1 {
	width       : 75%;
	float       : left;
	padding-top : 5px;
}

#p2 {
	width       : 25%;
	float       : left;
	padding-top : 7px;
}

#p2 a {
	padding         : 7px 10px;
	background      : #FFFFFF;
	color           : #4BA1C3;
	margin-right    : 10px;
	text-decoration : none;
	font-weight     : 600;
	border-radius   : 50%;
}

#p2 a:hover {
	background : #FFFFFF;
	color      : #333333;
}

.menu {
	width       : 100%;
	height      : 50px;
	padding-top : 10px;
	font-weight : 600;
}

.menu div {
	float      : left;
	width      : 50%;
	text-align : center;
}

.main {
	margin : 10px;
}

.panel {
	background : #999999;
	height     : 50px;
	padding    : 10px;
}

.panel p {
	float       : left;
	font-family : monospace;
	font-size   : 35px;
	color       : #FFFFFF;
	margin      : 0;
}

#game_field {
	width   : 320px;
	height  : 320px;
	padding : 0 20px;
}

#pyatna_field {
	border         : 2px solid #2970A9;
	border-spacing : 0px;
}

#pyatna_field td {
	border-right   : 1px solid #999999;
	border-bottom  : 1px solid #999999;
	width          : 75px;
	height         : 75px;
	margin         : 0;
	border-spacing : 6px;
	font-size      : 30px;
	color          : rgba(255, 255, 255, .9);
	text-shadow    : #2E7EBD 0 1px 2px;
	text-align     : center;
	border         : 1px solid;
	border-color   : #60A3D8 #2970A9 #2970A9 #60A3D8;
	background     : #60A3D8 linear-gradient(#89BBE2, #60A3D8 50%, #378BCE);
	box-shadow     : inset rgba(255, 255, 255, .5) 1px 1px;
	cursor         : pointer;
}

#pyatna_field td.empty {
	background : #FFFFFF;
	border     : none;
}

.menu_bottom {
	width      : 100%;
	margin-top : 15px;
	height     : 50px;
}

.menu_bottom button {
	cursor       : pointer;
	font-size    : 16px;
	padding      : 10px;
	font-weight  : 600;
	margin-left  : 8px;
	color        : rgba(255, 255, 255, .9);
	text-shadow  : #2E7EBD 0 1px 2px;
	text-align   : center;
	border       : 1px solid;
	border-color : #60A3D8 #2970A9 #2970A9 #60A3D8;
	background   : #60A3D8 linear-gradient(#89BBE2, #60A3D8 50%, #378BCE);
	box-shadow   : inset rgba(255, 255, 255, .5) 1px 1px;
}

#save_game, #set_name {
	width         : 500px;
	height        : 300px;
	background    : #FFFFFF;
	padding       : 0;
	border-radius : 0;
	box-shadow    : 2px 2px 10px #CFCFCF;
	display       : none;
}

.modal_div .header_window {
	background  : #60A3D8 linear-gradient(#89BBE2, #60A3D8 50%, #378BCE);
	color       : rgba(255, 255, 255, .9);
	text-shadow : #2E7EBD 0 1px 2px;
	height      : 50px;
	width       : 100%;
	line-height : 50px;
}

.modal_div .header_window h3 {
	/*padding : 5px 10px;*/
}

.modal_div {
	width         : 500px;
	height        : 300px;
	background    : #FFFFFF;
	padding       : 0;
	border-radius : 0;
}

.modal_close {
	width     : 21px;
	height    : 21px;
	position  : absolute;
	top       : 10px;
	right     : 10px;
	cursor    : pointer;
	display   : block;
	color     : #FFFFFF;
	font-size : 18px;
}

#setName input {
	display     : block;
	width       : 300px;
	height      : 30px;
	line-height : 30px;
	margin      : 30px auto;
}

.gameItem {

}

.gameItem span {
	width      : 20%;
	display    : inline-block;
	text-align : center;
}

#results div {
	width      : 24%;
	display    : inline-block;
	text-align : center;
}